<template>
    <div class="p-3" style="min-height: 100vh; background-color: white">
      <div class="container-fluid">
        <h5 class="text-center" style="font-weight: 600">
          Larissa Jogja Galeria Mall
        </h5>
      </div>
      <div class="mt-4 p-3 border-2 shadow-md rounded-lg">
        <div class="inline-flex items-center">
          <div class="text-white text-sm">
            <button type="button" class="bg-teal-600 hover:bg-teal-700 py-2 px-3 rounded-md "> Cek Istirahat </button>
            <button type="button" class="bg-green-700 hover:bg-green-800 py-2 px-3 rounded-md mx-3"> Cek Performa Kapster </button>
            <button type="button" class="bg-gray-600 hover:bg-gray-700 py-2 px-3 rounded-md "> Halaman Kapster </button>
            <button type="button" class="bg-pink-500 hover:bg-pink-600 py-2 px-3 rounded-md  mx-3"> Info Perawatan </button>
            <button type="button" class="bg-teal-600 hover:bg-teal-700 py-2 px-3 rounded-md"> Info Tahapan Non Operator </button>
            <button type="button" class="bg-yellow-500 hover:bg-yellow-600 py-2 px-3 rounded-md mx-3"> Cek Status Peracikan PS </button>
          </div>
          <div class="mt-4 ml-28">
            <nav aria-label="pagination">
              <ul class="inline-flex -space-x-px text-sm text-blue font-bold">
                <li>
                  <button type="button" class="p-2 border border-e-0 rounded-s-lg hover:bg-gray-200">Prev</button>
                </li>
                <li>
                  <label class="p-2 border border-e-0">{{ currentPage }}</label>
                </li>
                <li>
                  <button type="button" class="p-2 border border-e-0 rounded-e-lg hover:bg-gray-200">Next</button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div>
          <input type="search" id="cariBed" v-model="searchBed" @input="handleSearch" placeholder="Cari Berdasarkan Bed" class="w-[15rem] rounded-lg border-2 mt-4 p-2 text-sm">
        </div>
        <div class="mt-4">
          <table
          id="tabelAntrian"
          class="table table-bordered mt-3 w-full">
            <thead>
              <tr class="font-bold text-sm">
                <th>No. Trans (Cust)</th>
                <th>No Antrian</th>
                <th>Ruangan</th>
                <th>Jasa</th>
                <th>Kode Tahapan</th>
                <th>Kapster</th>
                <th>Cari baru[new]</th>
                <th>Waktu Mulai</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="data.length > 0">
                <tr v-for="datas in data" :key="datas.id">
                  <td>{{ datas.id }}</td>
                  <td>{{ datas.antrian }}</td>
                  <td>{{ datas.ruangan }}</td>
                  <td>{{ datas.jasa }}</td>
                  <td>{{ datas.kode }}</td>
                  <td>{{ datas.kapster }}</td>
                  <td>{{ datas.cari }}</td>
                  <td>{{ datas.waktu }}</td>
                  <td>{{ datas.action }}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import { useTaskStore } from "@/stores/TaskStore";
  import DataTable from "datatables.net-vue3";
  // import DataTablesLib from "datatables.net";
  import DataTablesCore from "datatables.net"
  import "datatables.net-buttons";
  import "datatables.net-buttons/js/buttons.html5";
  // import jszip from "jszip";
  // import pdfmake from "pdfmake";
  import $ from "jquery";
  
  DataTable.use(DataTablesCore);
  // DataTable.use(DataTablesLib);
  // DataTablesLib.Buttons.jszip(jszip);
  // DataTablesLib.Buttons.pdfMake(pdfmake);
  
  import { formattedDate } from "../../stores/functions";
  import Datepicker from "vue3-datepicker";
  export default {
    name: "TabelAntrian",
    // mounted() {
    //   this.getData();
    // },
    components: { DataTable, Datepicker },
    data() {
      return {
        store: useTaskStore(),
        totalPages: 0,
        currentPage: 1,
        dateSearch: "",
        datafinish: [],
        dateNow: "",
        data: [
          {id: 1, antrian: 1, ruangan: 2, jasa: 'uvueuveuveue osas', kode: 1, kapster: 1, cari: 'no', waktu: 1, action: 1},
          {id: 2, antrian: 1, ruangan: 3, jasa: 'spa', kode: 1, kapster: 1, cari: 'no', waktu: 1, action: 1},
          {id: 3, antrian: 1, ruangan: 4, jasa: 'spa', kode: 1, kapster: 1, cari: 'no', waktu: 1, action: 1},
          {id: 4, antrian: 1, ruangan: 6, jasa: 'spa', kode: 1, kapster: 1, cari: 'no', waktu: 1, action: 1},
          {id: 5, antrian: 1, ruangan: 1, jasa: 'spa', kode: 1, kapster: 1, cari: 'no', waktu: 1, action: 1},

        ],
        searchBed: ''
        // columns: [
        //   {
        //     data: "tgl",
        //     render: function (data) {
        //       return formattedDate(data);
        //     },
        //   },
        //   { data: "nama" },
        //   { data: "no_telp" },
        //   { data: "email" },
        //   { data: "alamat" },
        //   {
        //     data: "status_wa",
        //     render: function (data) {
        //       if (data === 1)
        //         return `<h6 style="color:red">Belum Dikonfirmasi</h6> `;
        //       else return "Sudah Dikonfirmasi";
        //     },
        //   },
  
        //   { data: "nama_perawatan" },
        //   {
        //     data: "status_perawatan",
        //     render: function (data) {
        //       if (data === 1) return `<h6 style="color:red">Belum diproses</h6>`;
        //       else return "Sudah diproses";
        //     },
        //   },
        //   {
        //     data: "status_perawatan",
        //     render: function (data, type, row) {
        //       if (data === 1)
        //         return `<button onclick="buttonClick('${row.id}')" style="padding-inline:20px; padding-block: 5px; color:white; border-radius:8px; background-color: #009d7b;">Proses</button>`;
        //       else
        //         return `<button style="padding-inline:15px; padding-block: 5px; color:white; border-radius:8px; background-color: #127C8D;">Detail</button>`;
        //     },
        //   },
        // ],
      };
    },
    computed: {
      dataFilter() {
        return this.data.filter(datas => datas.ruangan.includes(this.searchBed))
      }
    },
    methods: {
      handleSearch() {
        $("#tabelAntrian").DataTable().search(this.searchBed).draw()
      }
    },
    // computed: {
    //   dataFilter() {
    //     return this.store.dataPerawatan.filter((d) => d.tgl === this.dateSearch);
    //   },
    // },
    // methods: {
    //   buttonClick(d) {
    //     this.store.updateStatusPerawatan(d);
    //   },
    //   buttonSearch() {
    //     this.datafinish = this.store.dataPerawatan.filter(
    //       (d) => formattedDate(d.tgl) === formattedDate(this.dateSearch)
    //     );
    //   },
    //   filterData() {
    //     this.datafinish = this.store.dataPerawatan.filter(
    //       (d) => formattedDate(d.tgl) === new Date().toJSON().slice(0, 10)
    //     );
    //   },
    // },
    // watch: {
    //   // Watch for changes in the data source
    //   "store.dataPerawatan": {
    //     handler() {
    //       // When dataPerawatan changes, reload the data
    //       this.filterData();
    //     },
    //     deep: true, // Enable deep watching for changes in nested properties
    //   },
    // },
    // async mounted() {
    //   await this.store.getAllPerawatan();
    //   window.buttonClick = this.buttonClick;
    //   this.filterData();
    // },
    mounted() {
      $("#tabelAntrian").DataTable ({
        lengthChange: false, 
        bFilter: false,
        paging: false,
        ordering: false,
        info: false,
      })
    }
    
  };
  </script>
  
  <style>
  @import "datatables.net-dt";
  @import "datatables.net-buttons-dt";
  </style>
  